/* Wal colors */
@import './colors.scss';

body,
.material,
.material .cluster-text-protection,
.material .cluster-text-protection::before {
  background: $color0;
}

body {
  background: $color0 !important;

  #main div .lane-content .fade-out:after {
    background: linear-gradient(to right, rgba($color0, 0), rgba($color0, 1));
  }

  #main div .lane-content .material-shadow-z1 .fade-out:after {
    background: linear-gradient(to right, rgba($color3, 0), rgba($color3, 1));
  }
}

.cluster .header .cluster-title {
  color: $color7;
}

.material-card {
  background: $color3;

  .title {
    color: $color7;
  }

  .sub-title {
    color: rgba($color7, .7);
  }

  .details paper-icon-button.menu-anchor {
    color: rgba($color7, .7);
  }
}

.cluster .header .subtitle {
  color: rgba($color7, .7);
}

h2.title {
  color: $color7;
}

#loading-overlay {
  background-color: rgba($color0, 0.7) !important;
}

.gpm-detail-page-header-0 {
  div.gpm-detail-page-header {
    h2, &> [slot="buttons"] {
      color: $color7 !important;
    }

    a, span {
      color: $color6 !important;
    }
  }
}

#material-app-bar {
  background: $color3;

  border: none !important;
}

.paper-tabs-0 #selectionBar.paper-tabs {
  background: $color7;
}

#tabsContainer .tab-content.style-scope.paper-tab {
  color: $color7;
}

body.qp #material-app-bar #material-one-left .music-logo {
  background-image: url('https://cdn.rawgit.com/macfeaster/3f2d97676bc1901cdd041dd0212cb390/raw/8cf75fb0ceb3f385c70c9567016edd11974ea9a1/play_music_white.svg');
}

#material-app-bar #countSummary,
#material-app-bar #action-bar-container {
  color: $color7;
}

#left-nav-open-button:after,
#playlist-drawer-button:after {
  filter: invert(1) !important;
  opacity: 1 !important;
}

#playlist-drawer-button.paper-icon-button-0 iron-icon.paper-icon-button {
  color: $color7;
}

#left-nav-open-button.paper-icon-button-0 iron-icon.paper-icon-button {
  color: $color7;
}

body.qp #content-container.has-hero-image #material-app-bar #material-one-left .music-logo-link {
  display: block;
}

body.qp #content-container.has-hero-image.transparent #material-app-bar #material-one-left .music-logo-link {
  display: none;
}

.sj-search-box-1 {
  background-color: $color4;
}

.sj-search-box-0 {
  background: rgba($color7, .15);

  #searchIcon.sj-search-box {
    color: $color7 !important;
  }

  &, #input.sj-search-box::-webkit-input-placeholder {
    color: rgba($color7, .75);
  }

  #input.sj-search-box {
    color: $color7 !important;
  }

  #clearButton.sj-search-box {
    color: rgba($color7, .5);
  }
}

.sj-search-box-0[opened],
.sj-search-box-1[opened],
.sj-search-box-0[has-query],
.sj-search-box-1[has-query] {
  background: $color3;
  color: $color7;
}

.sj-search-box-0[opened]:not([num-suggestions="0"]) #input.sj-search-box,
.sj-search-box-1[opened]:not([num-suggestions="0"]) #input.sj-search-box {
  border-bottom: 1px solid $color5;
}

sj-search-suggestion:hover,
sj-search-suggestion.query-selected {
  background: $color5;
}

sj-search-suggestion #queryText.sj-search-suggestion .sub-match.sj-search-suggestion {
  color: rgba($color7, .7);
}

.sj-search-box-1 #input.sj-search-box {
  color: $color7;
}

.sj-search-suggestion-0:hover,
.sj-search-suggestion-0.query-selected {
  background-color: $color5;
}

.column .material-card .title,
.recommended-header {
  color: $color7 !important;
}

.column .material-card .sub-title {
  color: rgba($color7, .7) !important;
}

.material-card .reason .reason-text {
  color: rgba($color7, .5) !important;
}

.sj-home-0 #gradient.sj-home {
  background: linear-gradient(to top, $color0, rgba($color0, .3)),
  linear-gradient(to right, $color0, rgba($color0, .3)) !important;
}

sj-home #gradient.sj-home {
  background: linear-gradient(to top, $color0, rgba($color0, .3)),
  linear-gradient(to right, $color0, rgba($color0, .3)) !important;
}

sj-home h2 span.home-palette-id-1.tooltip {
  color: $color7 !important;
}

sj-home #backgroundColor.sj-home,
.sj-home-0 #backgroundColor.sj-home {
  background: $color3 !important;
}

gpm-card-grid .sj-card-0[card-aspect-ratio="wide"] {
  background: $color3 !important;
}

.sj-card-0 {
  #details.sj-card > [slot="title"] {
    color: $color7 !important;
  }

  &[card-aspect-ratio="wide"] #details.sj-card > [slot="title"],
  #details.sj-card > [slot="subtitle"] {
    color: $color7 !important;
  }
}

.sj-card-0 #details.sj-card > [slot="description"],
.gpm-headline-header-0 > [slot="subtitle"] {
  color: $color6 !important;
}

sj-home[selected="6"] .home-palette-id-2 {
  color: $color6 !important;
}

.gpm-headline-header-0 h2.gpm-headline-header > a {
  color: $color7 !important;
}

.sj-page-indicator-0 .sj-page-tab.sj-page-indicator {
  color: rgba($color7, 0.5);
}

.gpm-card-grid-1 sj-card {
  .card-title {
    color: $color7 !important;
  }

  sj-card .card-description {
    color: rgba($color7, .7) !important;
  }
}

.gpm-now-card-grid-0 .buttons.gpm-now-card-grid paper-icon-button.gpm-now-card-grid {
  background-color: rgba($color7, 0.2);
}

%sj-home-styles {
  color: $color5 !important
}

@for $i from 0 through 10 {
  sj-home[selected="#{$i}"] .home-palette-id-2 { @extend %sj-home-styles }
}

.home-palette-id-2 { @extend %sj-home-styles }

.recent-view {
  #gridTitle {
    color: $color7 !important;
  }

  .details {
    .card-title {
      color: $color7 !important;
    }

    .card-subtitle {
      color: rgba($color7, .7) !important;
    }
  }
}

.gpm-card-grid-3 > [slot="title"] {
  color: $color7 !important;
}

#music-content.material {
  background: transparent;
}

.material-playlist-container,
.material-album-container,
.songlist-container,
.material-detail-view .artist-details {
  background: $color0 !important;
}

.material {
  .song-row td,
  .upload-progress-row td {
    background: $color0;
    color: rgba($color7, .7);
  }

  .song-row.selected-song-row td,
  .song-row.currently-playing td {
    background-color: $color8 !important;
  }

  .song-row .title-right-items {
    color: rgba($color7, .7);
  }

  .song-table [data-col="title"],
  .song-table.mini [data-col="song-details"] .song-title {
    color: rgba($color7, .7);
  }
}

tr.song-row a {
  color: rgba($color7, .7);
}

.song-table th {
  color: rgba($color7, .5);
}

.song-row:hover > td {
  background-color: $color8 !important;
}

.sub-details a {
  color: $color7;
}

.material-detail-view .material-container-details .info {
  .sub-details paper-icon-button {
    color: $color7;
  }

  .title .title-text {
    color: $color7;
  }

  .container-stats-container .container-stats {
    &, & span {
      color: rgba($color7, .7);
    }
  }
}

gpm-action-buttons {
  border-top: 1px solid #333;
  color: rgba($color7, .7);
}

.song-table th iron-icon {
  color: rgba($color7, .7);
}

.rating-container.thumbs li {
  -webkit-filter: brightness(500%);
}

.fade-out.gray:after {
  background: linear-gradient(to right, rgba($color0, 0), rgba($color0, 1));
}

.song-indicator[data-playback-status="playing"] {
  background-image: url('http://i68.tinypic.com/2qmq3v4.gif')!important;
}

.song-indicator[data-playback-status="paused"] {
  background-image: url('http://i67.tinypic.com/2je42zl.png')!important;
  background-size: 100% !important;
  background-position: -1px -3px !important;
}

.song-indicator[data-playback-status="loading"] {
  background-image: url('http://i65.tinypic.com/2lvijht.gif')!important;
  background-size: 60% !important;
}

.material-detail-view .material-container-details .info .title {
  color: $color7;
}

.playlist-view .editable:hover {
  background: rgba($color7, .1);
}

h2.section-header {
  color: $color7;
}

/* Artist Pages */

.material-detail-view .artist-details {
  color: $color7;
  
  .bio-wrapper .bio {
    color: rgba($color7, .7);
  }
}

.material-detail-view .material-container-details .read-more-button:hover {
  background: $color3;
}

body.qp .material .cluster-text-protection::before,
body.qp .material .cluster-text-protection {
  background: $color0;
}

#player {
  background: $color0;

  .now-playing-actions paper-icon-button {
    color: rgba($color7, .7);
  }
}

#currently-playing-title {
  color: $color7;
}

#player-artist,
.player-album,
.player-dash {
  color: rgba($color7, .7);
}


#player-bar-forward iron-icon,
#player-bar-rewind iron-icon,
#material-volume-indicator,
#material-volume-low,
#material-volume-high {
  fill: rgba($color7, .7);
}

.paper-progress-0 #progressContainer.paper-progress,
.paper-progress-0 .indeterminate.paper-progress::after {} #player paper-icon-button[data-id="repeat"],
#player paper-icon-button[data-id="shuffle"],
#queue {
  color: rgba($color7, .7);
}

.paper-icon-button-0 #ink.paper-icon-button {
  color: $color7;
}

#player:hover #material-player-progress:not([disabled]) #progressContainer {
  background: $color5;
}

#nav-container .nav-toolbar,
.paper-drawer-panel-0 iron-selector.paper-drawer-panel > #drawer.paper-drawer-panel {
  background: $color0;
}

#nav-container {
  border: none !important;
}

.nav-item-container {
  color: $color7;
}

#nav .nav-section.material,
#nav.material {
  background: $color0 
}

#nav_collections .nav-item-container:focus,
.nav-item-container:focus,
.nav-item-container:hover {
  background: $color0;
}

.new-playlist-drawer .nav-section-divider {
  border-bottom: 1px solid $color3;
}

.nav-item-container.selected {
  background: $color3;
}

.new-playlist-drawer #nav-container .nav-toolbar .menu-logo {
  content: url('https://cdn.rawgit.com/macfeaster/3f2d97676bc1901cdd041dd0212cb390/raw/8cf75fb0ceb3f385c70c9567016edd11974ea9a1/play_music_white.svg');
}

.paper-drawer-panel-1 iron-selector.paper-drawer-panel > #drawer.paper-drawer-panel,
.paper-toolbar-2 {
  background-color: $color0;
}

sj-right-drawer #drawer.sj-right-drawer {
  background: $color0;
}

.paper-toolbar-1,
.paper-toolbar-2 {
  background: $color0;
  color: $color7;
}

#playlist-drawer {
  a, #playlist-drawer-header {
    color: $color7;
  }

  .autoplaylist-section,
  #recent-playlists-container {
    border-bottom: 1px solid $color3;
  }

  paper-header-panel[at-top] paper-toolbar:not([style-scope]):not(.style-scope) {
    border-bottom: 1px solid $color3;
  }

  .playlist-drawer-item {
    .playlist-wrapper:hover,
    .playlist-wrapper:focus,
    sj-play-button:hover~.playlist-wrapper,
    iron-icon:hover~.playlist-wrapper,
    &.playlist-drop-target:not(.subscribed) .playlist-wrapper {
      background: $color8;
    }
  }
}

#queue-overlay::after {
  border: 8px solid $color0;
}

.sj-mini-queue-0 #queueContainer.sj-mini-queue {
  background: $color0;
}

.iron-overlay-backdrop-0 {
  background: $color0;
}

.paper-dialog-0 {
  background: $color3;
  color: $color7;
}

.paper-input-container-0 .input-content.paper-input-container {
  input,
  textarea,
  iron-autogrow-textarea,
  .paper-input-input {
    color: $color7;
  }
}

.share-buttons .share-button .button-label {
  color: $color7;
}

.visualizercard {
  background: $color0;

  .label {
    color: $color7;
  }
}

.material-share-options #sharing-option-label {
  color: $color7;
}

.situations-filter {
  background: $color0;
  color: $color7;
}

.filter-description {
  color: rgba($color7, .7) !important;
}

.material-list {
  li:not(:last-child) .li-content {
    border-bottom: 1px solid $color3;
  }

  a {
    color: $color7;
  }

  li a:hover,
  li a:focus {
    background: $color8;
  }
}

.radio-selection.material {
  background: transparent;
}

.material-detail-view {
  .station-container-content-wrapper .material-container-details {
    background: $color0;
  }

  .material-container-details .info .description {
    color: $color7;
  }

  .top-tracks {
    background: $color0;
    color: $color7;
  }
}

.sub-details {
  color: rgba($color7, .7);
}

.more-songs-container {
  border-top: 1px solid $color3;
}

.playlist-menu,
.goog-menuitem,
.goog-menuitem-content,
.now-playing-menu,
.goog-menu-vertical {
  color: $color7;
  background: $color3 !important;
}

.material {
  .goog-menu .goog-menuseparator {
    background: $color5 !important;
  }

  .goog-menuheader {
    color: rgba($color7, .5) !important;
  }
}

.goog-menuitem:hover {
  background: $color4 !important;

  & > .goog-menuitem-content {
    color: $color7 !important;
    background: $color4 !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba($color0, .1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba($color0, .5);
}

#gbwa .gb_g .gb_ca,
.gb_ja,
#gbwa .gb_ga {
  background-color: $color5;
}

#gbwa {
  .gb_g {
    border: none !important;
  }

  .gb_Z .gb_O {
    color: $color7 !important;

    &:hover {
      color: $color0 !important;
    }
  }

  .gb_ha a {
    color: rgba($color0, 0.6) !important;
  }

  .gb_ka {
    background-color: $color5;
  }

  .gb_ka:hover,
  .gb_ka:hover > #gbwa .gb_ha a {
    color: rgba($color7, 1) !important;
    background-color: $color8;
  }

  .gb_ha a {
    color: rgba($color7, 0.6) !important;
  }

  .gb_la {
    background-color: $color5 !important;
  }

  .gb_la:hover {
    color: rgba($color7, 1) !important;
    background-color: $color8 !important;
  }

  .gb_wa {
    background: $color5 !important;

    .gb_ya {
      color: rgba($color7, 0.8) !important;
    }
  }

  & > div:first-child > a:after,
  & > div.gb_Fc > a {
    filter: invert(1) !important;
    -webkit-filter: invert(1) !important;
    opacity: 1 !important;
  }
}

.gb_la {
  border-color: rgba($color7, 0.3) !important;
}

.gb_fa .gb_ea .gb_b {
  filter: invert(1);
  opacity: 1;
}

.gb_za .gb_ia {
  background: $color5;
}

.now-playing-menu.goog-menu,
.goog-menu {
  border: none !important;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba($color7, 0.37) !important;
}
